<nav class="navbar navbar-expand-lg bg-white shadow-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
            {{Nombre_Restaurante}}
        </a>

        <div class="d-lg-none" id="ctMedia">
            <button type="button" class="custom-btn btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#BookingModal">Reservar</button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news">Calendario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contacto</a>
                </li>
                <li class="nav-item">
                    <a type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Administrar
                    </a>

                    <!-- Modal -->
                </li>
                
            </ul>
        </div>

        <div class="d-none d-lg-block">
            <button type="button" class="custom-btn btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#BookingModal">Reservar</button>
        </div>

    </div>
</nav>